@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

style .jumbotron{background-color: red;}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: relative;
	font-size: 30px;
}


.jumbotron h3{
	margin-top: 15px;
	font-size: 45px;
	font-family: 'Poppins', sans-serif;

}
.jumbotron h1{
	font-family: 'Poppins', sans-serif;
}

.card-columns {
	margin-top: 40px;
}

footer#rodape {
	clear: both;
}

footer#rodape p {
	text-align: center;
}